{% extends 'base.html.twig' %}

{% block title %}Weather index{% endblock %}

{% block body %}
    <h1>Weather index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datetime</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Wind</th>
                <th>Rainchance</th>
                <th>Isgrilltime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for weather in weather %}
            <tr>
                <td>{{ weather.id }}</td>
                <td>{{ weather.datetime ? weather.datetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ weather.temperature }}</td>
                <td>{{ weather.humidity }}</td>
                <td>{{ weather.wind }}</td>
                <td>{{ weather.rainchance }}</td>
                <td>{{ weather.isgrilltime ? 'Yes' : 'No' }}</td>
                
                <td>
                    {% if is_granted('ROLE_WEATHER_SHOW') %}
                    <a href="{{ path('app_weather_show', {'id': weather.id}) }}">show</a>
                    {% endif %}
                    {% if is_granted('ROLE_WEATHER_EDIT') %}
                    <a href="{{ path('app_weather_edit', {'id': weather.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_WEATHER_NEW') %}
        <a href="{{ path('app_weather_new') }}">Create new</a>
    {% endif %}
{% endblock %}
